.mainscreen {
  align-items: center;
  background-color: #271604;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 375px;
  height: 812px;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  position: absolute;
  color: #6a4826;
  font-weight: 900;
  font-size: 80px;
  line-height: 125%;
  height: 400px;
  text-align: center;
  width: 315px;
}

.coffee {
  color: #ffbf7e;
}

.weather {
  font-family: "Poppins";
  font-style: normal;
  position: absolute;
  color: #392007;
  font-weight: 900;
  font-size: 35px;
  line-height: 52px;
  height: 53px;
  text-align: center;
  width: 315px;
  top: 550px;
}

.mood {
  font-family: "Poppins";
  font-style: normal;
  position: absolute;
  color: #392007;
  font-weight: 900;
  font-size: 35px;
  line-height: 52px;
  height: 53px;
  text-align: center;
  width: 315px;
  top: 625px;
}

.personality {
  font-family: "Poppins";
  font-style: normal;
  position: absolute;
  color: #392007;
  font-weight: 900;
  font-size: 35px;
  line-height: 52px;
  height: 53px;
  text-align: center;
  width: 315px;
  top: 700px;
}
